.board {
    margin: 32px;
    padding: 15px;
    width: 800px;
    height: 800px;
    background: darkblue;
    display: grid;
    grid-template-columns: repeat(40, 20px);
    grid-template-rows: repeat(40, 20px);
    touch-action: none;
}

.empty {
    background: white;
}

.snake {
    background: darkgreen;
}

.head {
    background: lime;
}

.food {
    background: red;
}